.stanza-editor .view-line .mtkcontrol {
	color: var(--ash-description-foreground);
	background: var(--ash-editor-background);
}

.stanza-editor.no-user-select .lines-content,
.stanza-editor.no-user-select .view-line,
.stanza-editor.no-user-select .view-lines {
	user-select: none;
	-webkit-user-select: none;
}
/* Use user-select: text for lookup feature on macOS */
/* https://github.com/microsoft/vscode/issues/85632 */
.stanza-editor.mac .lines-content:hover,
.stanza-editor.mac .view-line:hover,
.stanza-editor.mac .view-lines:hover {
	user-select: text;
	-webkit-user-select: text;
}

.stanza-editor.enable-user-select {
	user-select: initial;
	-webkit-user-select: initial;
}

.stanza-editor .view-lines {
	position: absolute;
	left: var(--stanza-editor-gutter-width);
	right: 0;
	cursor: text;
	white-space: nowrap;
}

.stanza-editor .view-line {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
}

/* There are view-lines in view-zones. We have to make sure this rule does not apply to them, as they don't set a line height */
.stanza-editor .lines-content > .view-lines > .view-line > span {
	top: 0;
	bottom: 0;
	position: absolute;
}

.stanza-editor .mtkw {
	color: var(--ash-editor-whitespace-foreground) !important;
}

.stanza-editor .mtkz {
	display: inline-block;
	color: var(--ash-editor-whitespace-foreground) !important;
}
