.stanza-editor .lines-decorations {
	position: absolute;
	top: 0;
	background: var(--ash-editor-background);
}

/*
	Keeping name short for faster parsing.
	cldr = core lines decorations rendering (div)
*/
.stanza-editor .margin-view-overlays .cldr {
	position: absolute;
	height: 100%;
}
