.stanza-editor .stanza-editor-selection {
	position: absolute;
	inset-block: 0;
	box-sizing: border-box;
	pointer-events: none;
	background: var(--ash-editor-inactive-selection-background);
}

.stanza-editor .view-overlays.focused .stanza-editor-selection {
	background: var(--ash-editor-selection-background);
}

[data-color-scheme="high-contrast-dark"] .stanza-editor-selection,
[data-color-scheme="high-contrast-light"] .stanza-editor-selection {
	outline: var(--ash-stroke-thickness) solid var(--ash-focus-border);
	outline-offset: -1px;
}
