.ash-link {
	color: var(--ash-link-foreground, var(--ash-accent-foreground));
	text-decoration: underline;
	cursor: pointer;
}

.ash-link:not(.disabled):hover {
	color: var(--ash-textLink-activeForeground);
}

.ash-link:focus-visible {
	outline: var(--ash-strokeThickness) solid var(--ash-focusBorder);
	outline-offset: var(--ash-spacing-size20);
}

.ash-link.disabled {
	color: var(--ash-description-foreground);
	cursor: default;
}
