.ash-workbench-auxiliarybar {
	border: 0;
	border-left: var(--ash-strokeThickness) solid var(--ash-border);
	border-radius: 0;
	background: var(--ash-auxiliaryBar-background);
}

.ash-workbench-auxiliarybar > .ash-auxiliarybar-content {
	overflow: hidden;
}
