.ash-editor-lightbulb {
	padding-inline-start: var(--ash-spacing-size80);
	color: var(--ash-description-foreground);
}

.ash-editor-lightbulb.has-preferred-fix {
	color: var(--ash-textLink-activeForeground);
}

.ash-editor-lightbulb .ash-button {
	color: inherit;
}
