.ash-settings-card {
	overflow: visible;
	border-radius: var(--ash-cornerRadius-large);
	background: var(--ash-settings-itemBackground);
}

.ash-settings-card > * {
	position: relative;
}

.ash-settings-card > :first-child {
	border-radius: var(--ash-cornerRadius-large) var(--ash-cornerRadius-large) 0 0;
}

.ash-settings-card > :last-child {
	border-radius: 0 0 var(--ash-cornerRadius-large) var(--ash-cornerRadius-large);
}

.ash-settings-card > :only-child {
	border-radius: var(--ash-cornerRadius-large);
}

.ash-settings-card > * + *::before {
	position: absolute;
	top: 0;
	right: var(--ash-spacing-size160);
	left: var(--ash-spacing-size160);
	height: var(--ash-strokeThickness);
	background: var(--ash-settings-itemSeparator);
	content: '';
	pointer-events: none;
}
