.stanza-editor-inline-completion {
  position: absolute;
  z-index: 4;
  color: var(--ash-editor-inlineCompletionForeground, var(--ash-editor-descriptionForeground));
  pointer-events: none;
  white-space: pre;
  opacity: 0.75;
}
