.stanza-editor .minimap {
	z-index: 5;
}

.stanza-editor .minimap canvas {
	opacity: 0.9;
}

.stanza-editor .stanza-editor-minimap-slider {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: var(--ash-scrollbar-slider-background);
	pointer-events: none;
}

.stanza-editor .stanza-editor-minimap-hover-slider .stanza-editor-minimap-slider {
	opacity: 0;
	transition: opacity 100ms linear;
}

.stanza-editor .stanza-editor-minimap-hover-slider:hover .stanza-editor-minimap-slider {
	opacity: 1;
	background-color: var(--ash-scrollbar-slider-hover-background);
}

.stanza-editor .minimap.stanza-editor-minimap-dragging .stanza-editor-minimap-slider {
	opacity: 1;
	background-color: var(--ash-scrollbar-slider-active-background);
}

@media (prefers-reduced-motion: reduce) {
	.stanza-editor .stanza-editor-minimap-hover-slider .stanza-editor-minimap-slider {
		transition: none;
	}
}
