.stanza-editor .stanza-editor-indent-guide,
.stanza-editor .stanza-editor-bracket-guide,
.stanza-editor .stanza-editor-bracket-guide-horizontal {
	position: absolute;
	box-sizing: border-box;
	pointer-events: none;
}

.stanza-editor .stanza-editor-indent-guide {
	top: 0;
	height: 100%;
	border-left: var(--ash-strokeThickness) solid
		var(--ash-editorIndentGuide-background1);
}

.stanza-editor .stanza-editor-indent-guide.active {
	border-left-color: var(--ash-editorIndentGuide-activeBackground1);
}

.stanza-editor .stanza-editor-bracket-guide {
	border-left: var(--ash-strokeThickness) solid currentColor;
}

.stanza-editor .stanza-editor-bracket-guide-horizontal {
	border-top: var(--ash-strokeThickness) solid currentColor;
}

.stanza-editor .stanza-editor-guide-level-1 {
	color: var(--ash-editorBracketPairGuide-background1);
}
.stanza-editor .stanza-editor-guide-level-2 {
	color: var(--ash-editorBracketPairGuide-background2);
}
.stanza-editor .stanza-editor-guide-level-3 {
	color: var(--ash-editorBracketPairGuide-background3);
}
.stanza-editor .stanza-editor-guide-level-4 {
	color: var(--ash-editorBracketPairGuide-background4);
}
.stanza-editor .stanza-editor-guide-level-5 {
	color: var(--ash-editorBracketPairGuide-background5);
}
.stanza-editor .stanza-editor-guide-level-6 {
	color: var(--ash-editorBracketPairGuide-background6);
}

.stanza-editor .stanza-editor-guide-level-1.active {
	color: var(--ash-editorBracketPairGuide-activeBackground1);
}
.stanza-editor .stanza-editor-guide-level-2.active {
	color: var(--ash-editorBracketPairGuide-activeBackground2);
}
.stanza-editor .stanza-editor-guide-level-3.active {
	color: var(--ash-editorBracketPairGuide-activeBackground3);
}
.stanza-editor .stanza-editor-guide-level-4.active {
	color: var(--ash-editorBracketPairGuide-activeBackground4);
}
.stanza-editor .stanza-editor-guide-level-5.active {
	color: var(--ash-editorBracketPairGuide-activeBackground5);
}
.stanza-editor .stanza-editor-guide-level-6.active {
	color: var(--ash-editorBracketPairGuide-activeBackground6);
}
