.ash-editor-breadcrumbs {
	display: flex;
	height: 22px;
	min-width: 0;
	align-items: center;
	gap: var(--ash-spacing-size40);
	overflow: hidden;
	padding: 0 var(--ash-spacing-size100);
	color: var(--ash-description-foreground);
	font-size: var(--ash-fontSize-label1);
	white-space: nowrap;
}

.ash-editor-breadcrumbs[hidden] {
	display: none;
}
