.ash-multi-editor-tabs-control {
  --ash-tab-list-active-background: var(--ash-editor-background);
  --ash-tab-list-inactive-background: var(--ash-editor-tab-background);

  display: flex;
  min-width: 0;
  flex: 1 1 auto;
  align-items: center;
  overflow: hidden;
}

.ash-multi-row-editor-tabs-control {
	display: flex;
	min-width: 0;
	flex: 1 1 auto;
	flex-direction: column;
}

.ash-multi-row-editor-tabs-control > .ash-multi-editor-tabs-control {
	width: 100%;
	height: var(--ash-pane-title-height);
	flex: 0 0 var(--ash-pane-title-height);
}

.ash-multi-row-editor-tabs-control > .ash-multi-editor-tabs-control[hidden] {
	display: none;
}

.ash-connected-editor-tabs .ash-tab.checked {
	border-bottom: 2px solid var(--ash-border);
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.ash-connected-editor-tabs .ash-tab.checked.connected-tab-left-clipped {
	border-top-left-radius: 0;
}

.ash-connected-editor-tabs .ash-tab.checked.connected-tab-right-clipped {
	border-top-right-radius: 0;
}

.ash-multi-editor-tabs-control .ash-tab[data-state] .ash-tab-close-action {
  visibility: visible;
}

.ash-multi-editor-tabs-control .ash-tab[data-state]:not(:hover) .ash-tab-close-action svg {
  visibility: hidden;
}

.ash-multi-editor-tabs-control .ash-tab[data-state]:not(:hover) .ash-tab-close-indicator {
  display: none;
}

.ash-multi-editor-tabs-control .ash-tab[data-state]:not(:hover) .ash-tab-close-action button::after {
  width: 8px;
  height: 8px;
  margin: auto;
  border-radius: 50%;
  background: currentcolor;
  content: "";
}

.ash-multi-editor-tabs-control .ash-tab[data-state="conflict"] .ash-tab-close-action button::after {
  border-radius: var(--ash-corner-radius-x-small);
  color: var(--ash-warning-foreground);
  transform: rotate(45deg);
}
